html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.25;
  background-color: black;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 80px;
  width: auto;
  padding: 0; 
}


.header-navigation__tabs {
  position: relative;
  
}

.header-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-navigation__button {
    color: white;
    font-size: 20px;
    padding: 15px 15px;
    text-decoration: none; 
    display: block;
    
}

.header-navigation__button:hover {
    text-decoration: underline;
}
.header-navigation__button:active {
    text-decoration: underline;
}
.header-navigation__button:visited {
    text-decoration: none;
}


.header-navigation__submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  min-width: 160px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  flex-direction: column;
  
}

.header-navigation__link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  white-space: nowrap;

}

.header-navigation__link:hover {
  background-color: #AA0000;
}

.menu__item--has-submenu:hover .header-navigation__submenu {
  display: flex;
}

.main-content__title {
  font-size: 26px;
  font-weight: 300;
  margin-top: 30px;
  color: white;
  text-align: center;
}
.main-content__paragraph {
  font-size: 16px;
  margin-top: 30px;
  color: white;
  text-align: center;
}

.main-content__photo-image {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.footer-content {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.footer-content__michelin-name {
  color: #AA0000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 0;
}

.footer-contact__address {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 20px;
}
.footer-contact__phone {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
 
}
.footer-contact__email {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 20px;
}

.footer-info__opening-hours {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 10px;
}



.footer-navigation__tabs {
  display: inline-block;
  align-items: center;
  margin-top: 20px;
   
}

.footer-navigation__button{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: underline;
    
}

.footer-info__opening-hours-content{
  color: white;
  text-align: center;
  font-size: 14px;
  
}

.footer-info__social {
    display: flex;
    gap: 10px;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
   
}


.footer-navigation__list {
    list-style-type: none;
    padding: 0;
  }

.footer-copyright {
  display: flex;
  justify-content: space-between;
}

.footer-content__michelin-logo {
  margin-left: auto;
  margin-right: auto;
    display: block;
    height: 60px;
    width: auto;

}

p {
  font-size: 16px;
  margin: 0;

}



.footer-info__social-logo-facebook,
.footer-info__social-logo-instagram {
    height: 40px;
    width: auto;
    background-color: white;
    border-radius: 50%;
    margin-right: 0;
    margin-bottom: 5px;
    margin-left: 0;
}

.work-sans-ExtraLight200 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  } 

/*
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
*/
