<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ title}}</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>



<!-- Header Section -->
<header class="header">

  <div class="header__logo-container">
    <a href="/en/index" class="header__logo-link">
      <img src="/images/YAMATO_650mm_black_background.svg" alt="Yamato Logo" class="header__logo">
    </a>

 

  <nav class="header-navigation">
    
      <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
      <label for="menu-checkbox" class="menu__toggler">☰</label>

    <ul class="header-navigation__list">
    
          <li class="header-navigation__tabs">
            <a class="header-navigation__button" href="/en/about/">About</a>
          </li>
    
          <li class="header-navigation__tabs menu__item--has-submenu">
            <input type="checkbox" class="submenu__checkbox" id="menu-submenu">
            <label for="menu-submenu" class="header-navigation__button">Menu</label>
  
            <ul class="header-navigation__submenu">
              <li><label for="menu-submenu" class="submenu__close">✕</label></li>
              <li><a class="header-navigation__link" href="/en/menu/lunch-menu/">Lunch Menu</a></li>
              <li><a class="header-navigation__link" href="/en/menu/sashimi/">Sashimi</a></li>
              <li><a class="header-navigation__link" href="/en/menu/nigiri/">Nigiri Zushi</a></li>
              <li><a class="header-navigation__link" href="/en/menu/maki/">Hoso maki & Uramaki</a></li>
              <li><a class="header-navigation__link" href="/en/menu/alacarte-menu/">A La Carte</a></li>
              <li><a class="header-navigation__link" href="/en/menu/evening-menu/">Evening Tasting Menu</a></li>
            </ul>
          </li>
    
          <li class="header-navigation__tabs menu__item--has-submenu">
            <input type="checkbox" class="submenu__checkbox" id="napoje-submenu">
            <label for="napoje-submenu" class="header-navigation__button">Beverages</label>
  
            <ul class="header-navigation__submenu">
              <li><label for="napoje-submenu" class="submenu__close">✕</label></li>  
              <li><a class="header-navigation__link" href="/en/beverages/beverage-menu/">Beverage Menu</a></li>
              <li><a class="header-navigation__link" href="/en/beverages/sake/">Japanese sake</a></li>
              <li><a class="header-navigation__link" href="/en/beverages/whisky/">Japanese Whisky</a></li>
              <li><a class="header-navigation__link" href="/en/beverages/wine/">Wine List</a></li>
              <li><a class="header-navigation__link" href="/en/beverages/champagne/">Champagne</a></li>
            </ul>
          </li>
    
          <li class="header-navigation__tabs">
            <a class="header-navigation__button" href="/en/people/">Our Team</a>
          </li>
          <li class="header-navigation__tabs">
            <a class="header-navigation__button" href="/en/private_events/">Private events</a>
          </li>
          <li class="header-navigation__tabs">
            <a class="header-navigation__button" href="/en/catering/">Catering</a>
          </li>
          <li class="header-navigation__tabs">
            <a class="header-navigation__button" href="https://reservations.yamato.cz/en">Rezervations</a>
          </li>
    
        </ul>
  </nav>  

  </div>

  <div class="language-switcher">
    <a href="/en/">EN</a> | <a href="/cs/">CZ</a>
  </div>

</header>

<main class="main-content">

 {{content | safe}}

    
</main>

<footer class="footer">

    <div class="footer-content">
        <a class="footer-content__michelin" href="https://guide.michelin.com/cz/en/prague/prague/restaurant/yamato"target="_blank">
            <img src="/images/Michelin_Guide_logo.svg" alt="Michelin guide Logo" class="footer-content__michelin-logo">
            <h3 class="footer-content__michelin-name">Michelin Guide</h3>
        </a>
            
         
        <div class="footer-content">
          <a class="footer-contact__section-title" href="https://maps.app.goo.gl/cQfsZCiSoz1crB1m6" target="_blank">U kanálky 14, Praha 2</a> <br>
          <a class="footer-contact__section-title" href="mailto: info@yamato.cz" target="_blank">info@yamato.cz</a> <br> 
          <a class="tel" href="tel:+420222212617">+420 222 212 617</a>
        </div>


        <navigation class="footer-navigation">
        
            <ul class="footer-navigation__list">
                <li class="footer-navigation__tabs"><a class="footer-navigation__button" href="mailto: info@yamato.cz">Contact us</a></li>
                <li class="footer-navigation__tabs"><a class="footer-navigation__button" href="/en/partners/">Partners</a></li>
                <li class="footer-navigation__tabs"><a class="footer-navigation__button" href="/en/voucher/">Gift Voucher</a></li>
                <li class="footer-navigation__tabs"><a class="footer-navigation__button" href="/en/career/">Careers</a></li>
            </ul>
        </navigation>

        
        <div class="footer-info">
        
            <div class="footer-info__opening-hours">
                <p class="footer-info__opening-hours-content"><strong>Opening Hours</strong></p>
                <p class="footer-info__opening-hours-content">Mon - Fri: 12 PM - 3 PM, 5:30 PM - 11 PM</p>
                <p class="footer-info__opening-hours-content">Sat: 12 PM - 10:30 PM</p>
            </div>


            <div class="footer-info__social">
                <a class="footer-info__social-facebook" href="https://www.facebook.com/share/15UeCN2WD3/?mibextid=wwXIfr" target="_blank">
                    <img src="/images/facebook-svgrepo-com.svg" alt="Facebook Logo" class="footer-info__social-logo-facebook">
                </a>
                <a class="footer-info__social-instagram" href="https://www.instagram.com/Yamato_prague" target="_blank">
                    <img src="/images/instagram-svgrepo-com.svg" alt="Instagram Logo" class="footer-info__social-logo-instagram">
                </a>
            </div>
        </div>

        <div class="footer-copyright">
            
          <a class="footer-copyright__creator" href="mailto: olga@yamato.cz" target="_blank">Created by Smart Panda</a>
          <p class="footer-copyright__yamato">&copy; YAMATO Prague 2013-2025</p>
        </div>
        
    </div>
    
</body>
</html>